@tailwind base;
@tailwind components;
@tailwind utilities;


.leaflet-bottom.leaflet-right {
    display: none;
}
@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }